<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
                <add value="index.cshtml" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".cshtml" mimeType="application/x-cshtml" />
        </staticContent>
    </system.webServer>
</configuration>
