@using Inventory.Domain;
@{
    ViewBag.Title = "Index";
}

<title>재고관리</title>

<h2>재고관리 페이지</h2>
@{
    List<test> a = ViewBag.testList;
}
<div id="app">
    {{message}}  
    
</div>
<p>
    @a[0].Key
</p>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js">

</script>
<script>
      new Vue({
        el:'#app',
        data: {
          message: '재고관리 인덱스 페이지'
        }
      });
</script>



 